<%- layout('layouts/main') %>

<h3 class="mt-4">Profile</h3>

<div class="card card-body mt-4">
    <p>User ID: <%= user._id%></p>
    <p>Email: <%= user.email %></p>
    <p>Password: <%= user.password %></p>
</div>
