<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shop Management System</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style="margin-left: 20px;" class="navbar-brand" href="/">Shop Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">  <!-- ms-auto is the key to put other elements in the right side of the navbar -->
          <% if(user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/employees">Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/providers">Providers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%if (signinMessage.length > 0) {%>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= signinMessage %>
      </div>
    <% } %>
    <%if (signupMessage.length > 0) {%>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= signupMessage %>
      </div>
    <% } %>
  
    <%- body %>
  </div>

  <footer class="footer mt-3 mb-4">
    <div class="container text-center">
      <small style="font-weight:bold !important;">Copyright &copy; 2022 Shop Management System - Privacy</small>
    </div>
  </footer>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> <!-- Import Typed.js library -->
  <script src="/js/typedMessage.js"></script>
  <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>